.order-admin-page .card {
	display: flex;
	border: 2px solid darkslategray;
	padding: 10px;
	border-radius: 20px;
}
.order-admin-page .card .data-display {
	width: 100%;
	padding-left: 30px;
}
.order-admin-page .card .btn-view {
	display: inline-block;
}

.order-admin-page .card .btn-tick {
	margin-left: 20px;
}
.order-admin-page .card .btn-del {
	margin-left: 20px;
}
